<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuth</servlet-name>
        <servlet-class>Controller.LoginAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultProductName</servlet-name>
        <servlet-class>Controller.ConsultProductName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultProductPrice</servlet-name>
        <servlet-class>Controller.ConsultProductPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultProductType</servlet-name>
        <servlet-class>Controller.ConsultProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseShoppingCart</servlet-name>
        <servlet-class>Controller.PurchaseShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrder</servlet-name>
        <servlet-class>Controller.PurchaseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPurchase</servlet-name>
        <servlet-class>Controller.LoginPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletePurchase</servlet-name>
        <servlet-class>Controller.CompletePurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultProductTag</servlet-name>
        <servlet-class>Controller.ConsultProductTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultProduct</servlet-name>
        <servlet-class>Controller.ConsultProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProduct</servlet-name>
        <servlet-class>Controller.RegisterProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDProducts</servlet-name>
        <servlet-class>Controller.UDProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuth</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/Close</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultProductName</servlet-name>
        <url-pattern>/RNombre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultProductPrice</servlet-name>
        <url-pattern>/RPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultProductType</servlet-name>
        <url-pattern>/RTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseShoppingCart</servlet-name>
        <url-pattern>/AProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrder</servlet-name>
        <url-pattern>/Factura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPurchase</servlet-name>
        <url-pattern>/LoginPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletePurchase</servlet-name>
        <url-pattern>/TerminarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultProductTag</servlet-name>
        <url-pattern>/RTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultProduct</servlet-name>
        <url-pattern>/RProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProduct</servlet-name>
        <url-pattern>/RegistrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDProducts</servlet-name>
        <url-pattern>/Mofidicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/ActualizarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
