
#fotoperfil{
	padding-top: 1%;
}

#profile{
	margin-top: 2%;
	background-color: #6699ff;
	padding: 1%;
	color:#FFF;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
}